.container.mt-5.d-flex.align-items-center.flex-column
  .d-flex
    .widget
      %h5{id: 'saleCount'}= @sale_count
      %p Total Sales
    .widget
      %h5{id: 'visitorCount'}= @visitor_count
      %p Total Visitors
  -# .d-flex.align-items-center.justify-content-center.mt-5
    %label.switch
      %input{type: "checkbox"}/
      %span.slider.round
    %label.ms-3.form-check-label{for: "flexSwitchCheckDefault"} Live data

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    function updateWidgets() {
      fetch('/widget-stats')
        .then(response => response.json())
        .then(data => {
          document.getElementById('saleCount').textContent = data.sale_count;
          document.getElementById('visitorCount').textContent = data.visitor_count;
        });
    }

    // Update the count every 5 seconds
    setInterval(updateWidgets, 5000);
  });
